<h1>Listing articles</h1>
<%= link_to 'ecrire un nouvel article', new_article_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %></td> 
      <td>
        <% v=0 %>
        <% nb=0 %>
        <% article.ratings.each do |rating| %>
          <% v += rating.score %>
          <% nb = 1  +nb %>
        <%end%>

        <%= v.fdiv(nb) %>/5
      </td>   
    </tr>
  <% end %>
</table>



