<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<h2>ratings</h2>
<% @article.ratings.each do |rating| %>
  <p>
    <strong>Reader:</strong>
    <%= rating.user %>
  </p>
 
  <p>
    <strong>score:</strong>
    <%= rating.score %>
    /5
  </p>
<% end %>

<h2>Rate this article:</h2>
<%= form_with(model: [ @article, @article.ratings.build ], local: true) do |form| %>
  <p>
    <%= form.label :user %><br>
    <%= form.text_field :user %>
  </p>
  <p>
    <%= form.label :score %><br>
    <%= form.number_field :score, min:1, max:5, step: 1%>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>